.Countdown{
	text-align: center;
	font-size: 35px;
	margin-top: 20px;
}

.App-title{
	font-size: 50px;
}

.Clock-days, .Clock-hours, .Clock-minutes, .Clock-seconds{
	display: inline-block;
	margin: 10px;
}