.page{
  margin: 20px;
}

.interactions{
  /*text-align: center;*/
  display: inline-block;
  width: 100%;
} 

.interactions h2{
  color: white;
  display: inline-block;
  width: 50%;
  float: left;
  margin-top: 0;
} 

.interactions a{
  color: white;

} 

.interactions form{
  display: inline-block;
  width: 50%;
  text-align: right;
  vertical-align: middle;
}

.table{
  margin: 20px 0;
}

.table-header{
  display: flex;
  line-height: 24px;
  font-size: 16px;
  padding: 0 10px;
  justify-content: space-between;
}

.table-header button{
  color: white;
}

.table-header span{
  color: white;
}

.table-empty{
  margin: 200px;
  text-align: center;
  font-size: 16px;
}

.table-row{
  display: flex;
  line-height: 24px;
  white-space: nowrap;
  margin: 10px 0;
  padding: 10px;
  background: #ffffff;
  border: 1px solid #e3e3e3;
}

.table-header > span{
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 5px;
}

.table-row > span{
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 0 5px;
}

.button-inline{
  border-width: 0;
  background: transparent;
  color: inherit;
  text-align: inherit;
  -webkit-font-smoothing: inherit;
  padding: 0;
  font-size: inherit;
  cursor: pointer;
}

.button-active {
  border-radius: 0;
  border-bottom: 1px solid #fff;
}


.app-header{
  width: 100%;
}
.app-header a{
  display: inline-block;
  width: 10%;
  /*margin-right: 40px;*/
  color: white;
}

.app-header h3{
  display: inline-block;
  width: 10%;
  /*margin-right: 40px;*/
  color: white;
}







