body {
	color: #222;
	background: #262525;
	font: 400 14px CoreSans, Arial,sans-serif;
}

a {
	color: #222;
	text-decoration: none;
}

a:hover{
	color: #444;
}

ul, li{
	list-style: none;
	padding: 0;
	margin: 0;
}

input {
	padding: 10px;
	border-radius: 5px;
	outline: none;
	margin-right: 10px;
	border: 1px solid #dddddd;
}

button{
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #dddddd;
	background: transparent;
	color: white;
	cursor: pointer;
}

button:hover{
	color: #9a77c4;
}

*:focus{
	outline: none;
}

